.header
  %span= @page_title = "Contacts"

#contacts
  - contacts = @contacts["reporter"]
  - unless contacts.empty?
    %h3{class: "left"}= t("reporter", count: contacts.size)
    %ul
      - contacts.each do |contact|
        %li= contact.name

  - %w[officer admin].each do |role|
    - contacts = @contacts[role]
    - unless contacts.empty?
      %h3{class: "left"}= t(role, count: contacts.size)
      %ul
        - contacts.each do |contact|
          %li= mail_to contact.best_email, contact.name, encode: "javascript"
