!!!
%html
  %head
    = render "layouts/head"
  %body
    %header{id: "header", "aria-label": "Header and Navigation"}
      = render "layouts/header"
    %main#content
      = flash_messages
      = yield
    %footer{id: "footer", "aria-label": "Footer"}
      = render "layouts/footer"
